.account-action-btn {
  width: 100%;
  text-align: left;
  font-size: 30px;
  border: 1px solid #333;
  border-radius: 6px;
  background: #efefef;
  padding: 6px 9px;
  cursor: pointer;
}

.account-action-btn:hover {
  background: #e5e5e5;
}
