.auth-card {
  max-width: 525px;
  padding: 12px;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-areas:
    'username password'
    'submit submit';
  gap: 8px;
  align-items: center;
}

.auth-card input:first-of-type {
  grid-area: username;
}

.auth-card input:last-of-type {
  grid-area: password;
}

.auth-card .icon-btn {
  grid-area: submit;
  justify-self: start;
}
