.cards {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-row {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 10px;
  padding: 9px;
}

.card-row p {
  font-size: 36px;
  margin: 0 0 6px;
}

.role-picker {
  display: flex;
  gap: 8px;
}
