.menu-card {
  display: flex;
  flex-direction: column;
  padding: 9px;
}

.menu-item {
  text-decoration: none;
  color: #111;
  padding: 6px 3px;
  font-size: 30px;
}

.menu-item.router-link-active {
  background: #b6a4c4;
}
